@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}
